
.icon-adult:before { content: '\e800'; } /* '' */
.icon-laptop:before { content: '\e801'; } /* '' */
.icon-mail:before { content: '\e802'; } /* '' */
.icon-user:before { content: '\e803'; } /* '' */
.icon-gplus-squared:before { content: '\f0d4'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-youtube-squared:before { content: '\f166'; } /* '' */
.icon-facebook-official:before { content: '\f230'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */